# Type Conversion

## all types to str

In [1]:
age = 32
type(age)

int

In [2]:
str(age)

'32'

In [3]:
type(age)

int

In [7]:
age = str(age) # str fonksiyonu icine yazilan degeri stringe cevirir

In [6]:
type(age)

str

In [9]:
pi_number = 3.14
type(pi_number)

float

In [10]:
str(pi_number) #int ifadedyi anlik olarak string e cevirdi

'3.14'

In [11]:
str(True)

'True'

### str to int

In [13]:
age_1 = "33"
type(age_1)

str

In [14]:
int(age_1) #sitring ifadedyi anlik olarak int e cevirdi

33

In [15]:
int("ahmet") #string ifadeyi int e cevirmek icin int degerinden olmasi lazim

ValueError: invalid literal for int() with base 10: 'ahmet'

In [18]:
age_2='32'
age_2 = int(age_2)

year= 2024-32
print(year)

1992

# str to float

In [20]:
float("3.14") #cevirebilmek icin str ifadenin float a benzemesi sart

3.14

### float to int, imt to float

In [23]:
int(5.4) #int e ceviriyorsan noktadan sonrasini at

5

In [25]:
float(5) #int i float yapti

5.0

In [28]:
int("3.14") #int e benzemeli

ValueError: invalid literal for int() with base 10: '3.14'

In [29]:
float("3.14")

3.14

In [30]:
int(float(3.14))

3

### bool to int, bool to float

In [31]:
True

True

In [32]:
False

False

In [33]:
int(True)

1

In [34]:
int(False)

0

In [35]:
float(True)

1.0

In [36]:
float(False)

0.0

## Arithmetic Operators

In [38]:
3 + 5

8

In [39]:
9 - 6

3

8 * 6

In [42]:
40 / 10 #bolme islemenin sonucu her zaman float dir

4.0

In [43]:
40 // 10 # floor division

4

In [44]:
40 % 11 #kalani verir

7

102 tl param var. tanesi 12 tl den olan kaldem kac tane alinir

In [45]:
102 // 12

8

bu alis verisden ne kadar para kaldi

In [46]:
102 % 12

6

In [52]:
5 ** 2
pow(5,2) #karesini alir

25

In [51]:
pow(5,3)

125

In [53]:
25 ** (1 / 2) #kok unu alma

5.0

islem onceligi 

1-parantez icleri yapilir

2-uslu ifadeler

3-bolme/carpma

4-cikarma toplama

In [55]:

x = (4 + 2)**(4 ** (1 * 2 / 2) / 2)
print(x)

36.0

In [56]:
x = (2 ** 3) * (5 * 2 +(2 * 6 /3))
print(x)

112.0

yari capi 7 olan bir dairenin alanini bul, pi=3.14 aliniz

In [57]:
r = 7
pi = 3.14
alan = (3.14) * pow(7,2)

print(alan)

153.86

In [59]:
#alani tam sayi olarak ver
r = 7
pi = 3.14
alan = (3.14) * pow(7,2)
alan = int(alan)
print(alan)

153

ODEV
Bir kenari 5 diger kenari 12 olan dik ucgenin hipotenusunu bulan kodu yaz

yarin 15 den sonra student channelda paylas

In [8]:
sayi1=5
sayi2=12

sayi3=( (sayi1**2) + (sayi2**2) )**( 1 / 2 )

print("ucgenin hipotenusu: " + str(sayi3))

ucgenin hipotenusu: 13.0